extends ../layout

block content
    .page-header
        h3 Profile Information
        p User type: #{user.__t}
    form.form-horizontal(action='/account/profile', enctype="multipart/form-data", method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
            label.col-sm-3.control-label(for='name') Name
            .col-sm-3
                input.form-control(type='text', name='firstName', id='firstName', placeholder='First', value='#{user.profile.firstName}')
            .col-sm-3
                input.form-control(type='text', name='lastName', id='lastName', placeholder='Last', value='#{user.profile.lastName}')
        .form-group
            label.col-sm-3.control-label(for='email') Email
            .col-sm-6
                input.form-control(type='email', name='email', id='email', value='#{user.email}')
        .form-group
            label.col-sm-3.control-label(for='location') Location
            .col-sm-6
                input.form-control(type='text', name='location', id='location', value='#{user.profile.location}')
        .form-group
            label.col-sm-3.control-label(for='website') Website
            .col-sm-6
                input.form-control(type='text', name='website', id='website', value='#{user.profile.website}')
        if !user.profile.picture
            .form-group
                label.col-sm-3.control-label(for='identicon') Identicon
                .col-sm-4
                    img(src="#{user.identicon()}", class='profile', width='60', height='60')
        else
            .form-group
                label.col-sm-3.control-label(for='picture') Picture
                .col-sm-4
                    img(src="#{user.profile.picture}", class='profile', width='60', height='60')
        .form-group
            label.col-sm-3.control-label(for='resume') Resume
            .col-sm-4
                if user.profile.resume
                    a(href='#{user.profile.resume}') Last uploaded resume
                input.form-control-file(type='file', name='resume', id='resume')
                input(type='hidden', name='resume-url', id='resume-url')
                small(id='resume-info')
        .form-group
            .col-sm-offset-3.col-sm-4
                button.btn.btn.btn-primary(type='submit', id='submit')
                    i.fa.fa-pencil
                    | Update Profile

    if (user.__t === 'applicant')
        .page-header
            h3 Career Information
        form.form-horizontal(action='/account/profile', enctype="multipart/form-data", method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
                label.col-sm-3.control-label(for='major') Major
                .col-sm-6
                    input.form-control(type='text', name='major', id='major', value='#{user.profile.major}')
            .form-group
                label.col-sm-3.control-label(for='graduationYear') Graduation Year
                .col-sm-6
                    input.form-control(type='text', name='graduationYear', id='graduationYear', value='#{user.profile.graduationYear}')
            .form-group
                label.col-sm-3.control-label(for='degree') Degree
                .col-sm-6
                    input.form-control(type='text', name='degree', id='degree', value='#{user.profile.degree}')
            .form-group
                label.col-sm-3.control-label(for='school') School
                .col-sm-6
                    input.form-control(type='text', name='school', id='school', value='#{user.profile.school}')
            .form-group
                label.col-sm-3.control-label(for='resume') Resume
                .col-sm-6
                    input.form-control(type='text', name='resume', id='resume', value='#{user.profile.resume}')
            .form-group
                label.col-sm-3.control-label(for='skills') Skills
                .col-sm-6
                    input.form-control(type='text', name='skills', id='skills', value='#{user.profile.skills}')
    else
        .page-header
            h3 Recruiter Information
        form.form-horizontal(action='/account/profile', enctype="multipart/form-data", method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
                label.col-sm-3.control-label(for='organization') Organization
                .col-sm-6
                    input.form-control(type='text', name='organization', id='organization', value='#{user.profile.organization}')
            .form-group
                label.col-sm-3.control-label(for='title') Title
                .col-sm-6
                    input.form-control(type='text', name='title', id='title', value='#{user.profile.title}')

    .page-header
        h3 Change Password

    form.form-horizontal(action='/account/password', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
            label.col-sm-3.control-label(for='password') New Password
            .col-sm-6
                input.form-control(type='password', name='password', id='password')
        .form-group
            label.col-sm-3.control-label(for='confirmPassword') Confirm Password
            .col-sm-6
                input.form-control(type='password', name='confirmPassword', id='confirmPassword')
        .form-group
            .col-sm-offset-3.col-sm-4
                button.btn.btn-primary(type='submit')
                    i.fa.fa-lock
                    | Change Password

    .page-header
        h3 Delete Account

    form.form-horizontal(action='/account/delete', method='POST')
        .form-group
            p.col-sm-offset-3.col-sm-4 You can delete your account, but keep in mind this action is irreversible.
            input(type='hidden', name='_csrf', value=_csrf)
            .col-sm-offset-3.col-sm-4
                button.btn.btn-danger(type='submit')
                    i.fa.fa-trash
                    | Delete my account

    .page-header
        h3 Linked Accounts
    .form-horizontal
        .form-group
            .col-sm-offset-3.col-sm-4
                if user.google
                    p: a.text-danger(href='/account/unlink/google') Unlink your Google account
                else
                    p: a(href='/auth/google') Link your Google account
            .col-sm-offset-3.col-sm-4
                if user.facebook
                    p: a.text-danger(href='/account/unlink/facebook') Unlink your Facebook account
                else
                    p: a(href='/auth/facebook') Link your Facebook account
            .col-sm-offset-3.col-sm-4
                if user.github
                    p: a.text-danger(href='/account/unlink/github') Unlink your GitHub account
                else
                    p: a(href='/auth/github') Link your GitHub account
