extends layout

block content
    body
      .container
        if !user
            div.contentHome.container-fluid
                h1.text-center Spend more time connecting and less time with papers
                h2.text-center A resume sharing web app that allows:
            .col-md-5.col-md-offset-1
                div.studentDescriptionHome
                    h2.text-center Students
                    ul
                        li To upload your resume and display your skills
                        li To discover companies that fit your skillsets and interests
                        li To find more information about companies and their hiring needs
            .col-md-5
                div.recruiterDescriptionHome
                    h2.text-center Recruiters
                    ul
                        li To upload your company profile and career opportunities
                        li To reach students who have similar skillsets to the job needs
                        li To easily find matches to students based on resume information
        else
            if (user.__t == 'applicant')
                div.contentHome.container-fluid
                    h1.text-center Welcome, #{user.profile.firstName}!
                    h2.text-center Check out your updated dashboard:
                div
                    .col-md-5.col-md-offset-1
                        div.contactRequestsDashboard
                            h2.text-center New contact requests:
                            ul
                                li {Company Name} {Recruiter} {Company Match Percentage}&nbsp;
                                    button.btn.btn-default.btn-xs.btn-success(type='button') Connect
                                li {Company Name} {Recruiter} {Company Match Percentage}&nbsp;
                                    button.btn.btn-default.btn-xs.btn-success(type='button') Connect
                                li {Company Name} {Recruiter} {Company Match Percentage}&nbsp;
                                    button.btn.btn-default.btn-xs.btn-success(type='button') Connect
                                li {Company Name} {Recruiter} {Company Match Percentage}&nbsp;
                                    button.btn.btn-default.btn-xs.btn-success(type='button') Connect
                        div.contactRequestsDashboard
                            h2.text-center Your skills:
                            ul
                                li {Company Name} {Recruiter} {Company Match Percentage}
                                    button.btn.btn-default.btn-xs.btn-success(type='button') Connect
                                    input.form-control(type='skills', name='skills', id='skillsToAdd', placeholder='Skills (separate by commas)', autofocus, required)
                                    button.btn.btn-secondary(type='button') Add Skill
                        div.contactRequestsDashboard
                            h2.text-center New contact requests:
                            ul
                                li {Company Name} {Recruiter} {Company Match Percentage}
                                    button.btn.btn-default.btn-xs.btn-success(type='button') Connect
                                li {Company Name} {Recruiter} {Company Match Percentage}
                                    button.btn.btn-default.btn-xs.btn-success(type='button') Connect
                            if user.contactRequests.length > 0
                                p You have #{user.contactRequests.length} contact requests.
                                ul.jobOpeningSection
                                    each request in user.contactRequests
                                        a(href='/user/' + request.id + '/connect')
                                            li #{request.name}
                            else
                                p You have no contact requests.
                    .col-md-5
                        div.currentContactsDashboard
                            h2.text-center Jobs
                            if jobs.length > 0
                                p There are #{jobs.length} openings.
                                ul.jobOpeningSection
                                    each job in jobs
                                        a(href='/jobs/' + job.id + '/apply')
                                            li #{job.name}

                            else
                                p You have not listed any job openings.
            else
              if (user.__t == 'recruiter')
                div.contentHome.container-fluid
                    h1.text-center Welcome, #{user.profile.firstName}!
                    h2.text-center Check out your updated dashboard:
                div
                    .col-md-5.col-md-offset-1
                        div.contactRequestsDashboard
                          h2.text-center Job Openings:
                            if user.openings.length > 0
                                p You have listed #{user.openings.length} openings.
                                ul.jobOpeningSection
                                    each opening in user.openings
                                        a(href='/jobs/' + opening.id)
                                            li #{opening.name}

                            else
                                p You have not listed any job openings.
                            a.btn.btn-default(href='/jobs/create') Add Job Opening
                    .col-md-5
                        div.currentContactsDashboard
                            h2.text-center Current Applicant Contacts
                            if user.contacts.length > 0
                                p You have #{user.contacts.length} contacts.
                                ul.jobOpeningSection
                                    each contact in user.contacts
                                        form(action='/user/' + contact.id + '/disconnect', method='POST')
                                            li
                                                label(for='id') #{contact.name}
                                                input.btn.btn-default.btn-xs.btn-danger(type='submit', value='#{contact.id}', text='Remove Contact')
                            else
                                p You have no contacts.
                        div.currentContactsDashboard
                            h2.text-center Applicants
                            if users.length > 0
                                p There are #{users.length} applicants that you can connect with.
                                ul.jobOpeningSection
                                    each applicant in users
                                        form(action='/user/' + applicant.id + '/connect', method='POST')
                                            li
                                                label(for='id') #{applicant.profile.firstName} #{applicant.profile.lastName}&nbsp;&nbsp;
                                                input.btn.btn-xs.btn-success(type='submit', value='Connect', text='Connect')
                            else
                                p There are no applicants to connect with.

              else
                h1 Please select your account type.
                form.form-horizontal(action='/account/type', method='POST')
                    input(type='hidden', name='_csrf', value=_csrf)
                    .form-group
                        label.col-sm-3.control-label(for='type') User Type
                        .col-sm-6
                            select(name='type', id='typeDropdown')
                                option(value='applicant') Applicant
                                option(value='recruiter') Recruiter
                    .form-group
                        .col-sm-offset-3.col-sm-6
                            button.btn.btn-success(type='submit')
                                i.fa.fa-user-plus
                                | Update
