extends ../layout

block content
  if (user.__t === "applicant")
    .page-header
        h3 #{job.name}
        p Company: #{job.company}
    .col-xs-6.col-xs-offset-1
      h4 Description:
      p #{job.description}
      h4 Location:
      p #{job.location}
      h4 Skills Needed:
      p #{job.skills}
      h4 Recruiter:
      p #{job.owner.name}

    .form-group
        .col-sm-offset-1.col-sm-6
            button.btn.btn.btn-primary(type='submit', id='submit')
                i.fa.fa-pencil
                | I'm interested in this job
