extends ../layout

block content
  if (user.__t === "applicant")
    .page-header
        h3 #{job.name}
        p Company: #{job.company}
    .col-xs-6.col-xs-offset-1
      h4 Description:
      p #{job.description}
      h4 Location:
      p #{job.location}
      h4 Skills Needed:
      p #{job.skills}
      h4 Owner:
      p #{job.owner.name}
