extends ../layout

block content
  if (user.__t === "applicant")
    .page-header
        h3 #{job.name}
        p Company: #{job.company}

    h4 Description:
      p #{job.description}
    h4 Location:
      p #{job.location}
    h4 Skills Needed:
      p #{job.skills}
    h4 Owner:
      p #{job.owner.name}
