extends ../layout

block content
    .page-header
        h3 Job Information

    form.form-horizontal(action='/jobs/#{job.id}', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-3.control-label(for='name') Job Name
          .col-sm-6
              input.form-control(type='name', name='name', id='name', placeholder='Job Name', value='#{job.name}' autofocus, required)
        .form-group
          label.col-sm-3.control-label(for='company') Company
          .col-sm-6
            input.form-control(type='company', name='company', id='company', placeholder='Company', value='#{job.company}' autofocus, required)
        .form-group
          label.col-sm-3.control-label(for='description') Description
          .col-sm-6
              input.form-control(type='description', name='description', id='description', placeholder='Description', value='#{job.description}' autofocus, required)
        .form-group
          label.col-sm-3.control-label(for='location') Location
          .col-sm-6
              input.form-control(type='location', name='location', id='location', placeholder='Location', value='#{job.location}' autofocus, required)
        .form-group
          label.col-sm-3.control-label(for='skills') Skills
          .col-sm-6
              input.form-control(type='skills', name='skills', id='skills', placeholder='Skills (separate by commas)', value='#{job.skills}' autofocus, required)
        .form-group
            .col-sm-offset-3.col-sm-4
                button.btn.btn.btn-primary(type='submit')
                    i.fa.fa-pencil
                    | Update Job

    if (job.owner === user._id || job.recruiters.indexOf(user._id) !== -1)
        .page-header
            h3 Delete Job

        form.form-horizontal(action='/jobs/#{job.id}/delete', method='POST')
            .form-group
                input(type='hidden', name='_csrf', value=_csrf)
                .col-sm-offset-3.col-sm-4
                    if (job.owner === user._id)
                        p You are the owner of this job opening.
                    else if (job.recruiters.indexOf(user.id) !== -1)
                        p You are a recruiter for this job opening.
                    button.btn.btn-danger(type='submit')
                        i.fa.fa-trash
                        | Delete job
